body{
    font-family: 'Roboto', sans-serif;
    background-color:#ABFAE3;
    color:#7FA3AD;
    margin: 0px;
}

a{
    text-decoration: none;
    color:#7FA3AD;
}

/*home*/
.navbar {
    background-color: #ABFAE3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center; /* text on the center*/
    height: 54px;
    border-bottom: black solid 1px;
}

/* Links inside the navbar */
.navbar a { 
    display: inline-block; 
    color: #7FA3AD;
    padding: 16px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.25s linear; /*color change smoothly*/
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #FFFCD3;
    color: black;
}


    /*overlay*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/*.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}*/

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*.slick-slider {
    margin: 30px auto 50px;
}
.slick-slider {
    -moz-user-select: none;
    box-sizing: border-box;
    display: block;
    position: relative;
}*/


/*Contact*/
.contact{
    background-color: #00D6CE;
    width: 100%;
    height: 200px;
    margin: -4px 0px 0px 0px;
    padding: 45px;
    text-align: center;
    color: #6C7E95;
    font-family: 'Josefin Sans', sans-serif;
}

center{
    font-size: 40px;
    color: #074F57;
    font-family: 'Josefin Sans', sans-serif;
}







/*#myNav*/::-webkit-scrollbar {
    display: none;
}
