body{
    font-family: 'Roboto', sans-serif;
    background-color:#ABFAE3;
    color:#7FA3AD;
    margin: 0px;
}

a{
    text-decoration: none;
    color:#7FA3AD;
}
::-webkit-scrollbar {
    display: none;
}
.navbar {
    background-color: #ABFAE3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center; /* text on the center*/
    height: 54px;
    border-bottom: black solid 1px;
}

/* Links inside the navbar */
.navbar a { 
    display: inline-block; 
    color: #7FA3AD;
    padding: 16px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.25s linear; /*color change smoothly*/
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #FFFCD3;
    color: black;
}

.image_container {
    background-color: #2F2E2E;
    width: 50%;
    height: 800px;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.image_container div{
    width: 220px;
    height: 220px;
    margin: 10px;
    overflow: hidden;
    transition: transform .2s;
}
.image_container div:hover{
     transform: scale(1.1);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}