body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;  
    color:#666;
    line-height:1.8em;
    scroll-behavior: smooth;
  }

.navbar {
    background-color: #ABFAE3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center; /* text on the center*/
    height: 54px;
    border-bottom: black solid 1px;
    z-index: 1;
}

/* Links inside the navbar */
.navbar a { 
    display: inline-block; 
    color: #7FA3AD;
    padding: 16px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.25s linear; /*color change smoothly*/
    padding: 16px 16px 9px 16px;
  }

/* Change background on mouse-over */
.navbar a:hover {
    background: #FFFCD3;
    color: black;
}
  
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('../../images/image1.jpg');
    min-height:100%;
  }

  .pimg2{
    background-image:url('../../images/image2.jpg');
    min-height:100%;
  }

  .pimg2 img{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right: 70px;
  }  

  .pimg3{
    background-image:url('../../images/image3.jpg');
    min-height:100%;
  }

  .pimg3 img{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right: 70px;
  }  

  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }

  .ptext .border.skyblue{
    background-color:skyblue;
  }

  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-gold{
    background-color:#eab60bc5;
    color:#666;
  }


  .arrows1 img{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right: 70px;
  }


  #s1{  }

  #s2{  }

  #s3{  }

/*#myNav*/::-webkit-scrollbar {
    display: none;
}

